// .join{

//     &__wrapper{
//         background: $clr-green;
//         font-family: Arial, Helvetica, sans-serif;
//         display:flex;
//         align-items:center;
//         justify-content:space-between;
//         margin: 0 2rem;
//     }
// }

.banner{
    background-image: url("../img/star.png");
    background-size: contain;
    background-repeat: no-repeat;
    min-height: 600px;
    background-color: #D4E9E2;
    background-position-y: 35rem;
    background-position-x: 20rem;
    // display: flex;
    text-align: center;
    padding-top: 6rem;
    font-family: Arial, Helvetica, sans-serif;
  @include mediaQuery($break-lg){
    background-position-y: 10rem;
    background-position-x: 100rem;
    text-align: unset;
    align-items: center;
    
    &__wrapper{
        position: relative;
    }

    &__text{
        position: absolute;
        top: 25rem;
    }
  }
}

.steps{

    font-family:Arial, Helvetica, sans-serif;
    background: #ffffff;

    &__text{
        margin:3rem 0;
        h2{
            text-align: center;
        }
        p{
            text-align: center;
        }
    }


    &__number{
        display: flex;
        width: fit-content;

        margin: 2rem;

        h1{
            color: #009658;
            border: 2px solid #009658;
            border-radius: 5rem;
            width:5rem;
            height:5rem;
            padding: 1rem 1.7rem;
            margin-right: 1rem;
        }
    }

    &__item{
        span{
            a{
                color: #009658;
                text-decoration: underline #009658;

                &:hover{
                    text-decoration: unset;
                }
            }
        }
    }

    @include mediaQuery($break-lg){

        margin-top: 10rem;
        margin-bottom: 5rem;

        &__text{
            h2{
                font-size: 2.8rem;
                color: #212121;
            }
            p{
                margin-top: 2rem;
                font-weight: bolder;
            }
        }

        &__list{
            display: flex;
            justify-content: center;
        }

        &__number{
            flex-direction:column;
            text-align: center;
            justify-content: center;

            h1{
                margin: 0 auto;
            }
            h3{
                margin: 4rem 0;
            }

            p{
                max-width: 40rem;
            }


        }

    }

}

.coffee{

    font-family: Arial, Helvetica, sans-serif;
    &__nav{
        background: #f1f8f5;
        padding-top: 5rem;
        text-align: center;
        ul{
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-top: 3rem;

            li{
                padding: 2rem 1.5rem;
                position: relative;

                // border-bottom: 4px solid transparent;
                &::before{
                    content:"";
                    width: 0;
                    height: 4px;
                    background-color:#00754a;
                    display:block;
                    position: absolute;
                    bottom: 0;
                    left: 0; 
                }
                &.active{
                    &::before{
                        width: 100%;
                        transition: .5s ease;
                    }
                    
                    // border-bottom: 4px solid #00754a;
                }
                a{
                    font-size: 2rem;
                    color: $clr-dark;
                    font-weight: 600;
                }
            }

        }
    }

    &__content{
        background: #d4e9e2;
        position: relative;
        min-height: 40rem;
    .coffee__tab__content{
        // display: flex;
        // flex-direction: column;
        // display: none;
        position: absolute;
        opacity: 0;
        margin: 0 3rem;
        transform: translateX(5rem);
        transition: .5s ease;
        &.active{
            opacity: 1;
            transform: translateX(0rem);
            transition: .5s ease;
        }
        img{
            @include imgFit(45rem,100%);
        }

        &__text{
            text-align: center;
        }
    }
    }

    @include mediaQuery($break-lg){
        &__nav{
        
            ul{
                display: flex;
                justify-content: center;
            }
        }

        &__content{
            min-height: 30rem;
        }

        .coffee__desc{

            display: flex;
            align-items: center;
            justify-content: center;
        }

        .coffee__tab__content{
            display: flex;
            align-items: center;
            top: 3rem;
            text-align: left;
            max-width: 100rem;
            margin: 0 auto;
            &.active{
                flex-direction: row;
            }
        }

        .coffee__tab__content__text{
            text-align: left;
            max-width: 28rem;

            p{
                margin: 2rem 0;
                line-height:2.5rem;
            }
        }

    }
}

.extras{
    &__wrapper{
        font-family: Arial, Helvetica, sans-serif;

    }
    &__text{
        color:#212121;
        margin-top:4rem;
        text-align: center;

        p{
            margin: 3rem 0;
            font-size: 1.5rem;
            line-height: 2rem;
            font-weight: 400;
        }
    }


    &__item{
        display: flex;
        align-items:center;

        img{
            width: 11rem;
            margin-right:2rem;
        }

        &:nth-child(2){
            margin: 4rem 0;
        }
    }

    &__desc{
        h4{
            color: #212121;
            font-weight: 600;
        }

        p{
            margin: 2rem 0;
            font-size: 1.5rem;
            line-height: 2rem;
            font-weight:400;
        }
        a{
            text-decoration: underline;
            color: #00754a;
            font-size: 1.5rem;
            &:hover{
                text-decoration: unset;
            }
        }
    }

    @include mediaQuery($break-lg){

        padding-top:6rem;
        padding-bottom: 4rem;
        &__text{
            margin: 0 auto;
            max-width: 60rem;
            h2{
                font-size: 3rem;
                font-weight:600;
            }

        }

        &__list{
            display:flex;
            align-items:center;
            justify-content:space-between;
        }

        &__item{
            flex-direction:column;
            text-align: center;

            img{
                margin: 0 auto;
            }

            &:nth-child(2){
                margin: 0 2rem;
            }
        }

        &__desc{
            h4{
                margin: 2rem 0;
                font-size: 2rem;
            }
        }

    }
}

.payment{
    padding-top: 4rem;
    background: #f2f0eb;
    font-family: Arial, Helvetica, sans-serif;

    &__text{
        text-align:center;
        
        h2{
            font-size: 2.3rem;
        }
        p{
            margin: 2rem 0;
            font-size: 1.5rem;
        }
    }

    &__item{
        margin-top: 7rem;
        &:first-child{
            border-bottom: 1px solid #dcdbd6;
        }
        h4{
            font-size: 1.4rem;
            margin-bottom: 2rem;

        }
        p{
            font-size: 1.3rem;
            font-weight: 600;
        }
    }   


    &__content{
        margin: 3rem 0;
        display: flex;
        align-items: start;


        img{
            width:12rem;
            margin-right: 2rem;
        }

        &__desc{
            h4{
                font-size: 1.5rem;
            }
            p{
                font-size: 1.4rem;
                font-weight: normal;
                line-height: 2.5rem;
            }
        }
    }

    @include mediaQuery($break-lg){

        &__item{
            display: grid;
            grid-template-columns: .5fr 1fr 1.5fr;
            
            img{
                margin: unset;
                padding: 2rem;
            }
        }


    }
}

.rewards{
    background: #d4e9e2;
    font-family: Arial, Helvetica, sans-serif;
    padding: 8rem 0;
    &__wrapper{
        text-align: center;
    }

    &__text{
        h1{
            font-size: 3rem;
            max-width: 30rem;
            margin: 0 auto;
        }
        p{
            font-size: 1.7rem;
            max-width: 40rem;
            margin: 0 auto;
            padding: 3rem 0;
            line-height: 2.5rem;
        }

        span{

            a{
                color: #009658 ;
            }
        
            color: #009658;
            text-decoration: underline;

            &:hover{
            text-decoration: unset;
            }
        
        img{
            width: 1rem;
        }
    }
}
    .btn{
        display: flex;
        font-size: 1.2rem;
        width: fit-content;
        gap: 1rem;

        font-weight: bold;
        cursor: pointer;
        margin: 0 auto;
    }

    .btn.join{
        background-color: #00754a;
        padding: 1.5rem;
        color: $clr-light;
        border-radius: 4rem;
        font-weight: 600;
        font-size: 1.5rem;

        
    }
}
